<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="SQAT" />
  </extensions>
  <targets>
    <target name="logfile"
            xsi:type="File"
            layout="${longdate}|${message}"
            fileName="..\..\web\utils\reports\${shortdate}\${nunit-testname:whenEmpty=UnknownTest}_${cached:cached=true:Inner=${date:format=yyyy-MM-dd hh.mm.ss}:CacheKey=${shortdate}}.log"  />
   
    <target name="logconsole" layout="${longdate}|${message}" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="mail" />
  </rules>
</nlog>
